.count-down{
    font-size: 3rem;
    word-spacing: 0.1;
    font-family: monospace;
    font-weight: 500;
}

.btn{
    color: white;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
