.title{
    -webkit-user-select: none;
    -webkit-app-region: drag;
    font-size: 1.6rem;
    color: blue; 
    font-weight: 500;
    font-family: monospace;
    margin-bottom: 10px;
}

.input-num{
    width: 50px;
    border: 1px gray solid;
    border-radius: 3px;
    outline: none;
    color: black;
    font-size: 0.85em;
}

.btn{
    background-color: darkblue;
    color: white;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

