.title{
    -webkit-user-select: none;
    -webkit-app-region: drag;
    font-size: 1.2rem;
    color: blue; 
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: monospace;
}

.input-num{
    width: 50px;
    border: 1px gray solid;
    border-radius: 3px;
    outline: none;
    color: black;
    font-size: 0.85em;
}

.btn{
    background-color: darkblue;
    color: white;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.error{
    color: darkred;
    font-size: 0.8rem;
    font-family: monospace;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
}

.first-line{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  
}

.label{
    font-size: 0.7rem;
    margin-left: -5px;
    vertical-align: bottom;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}