/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  padding: 10px;
}

.green{
  background: lightgreen;
}

.red{
  background: crimson;
  color: white;
}

.blue{
  background: skyblue;
}

.btn-green{
  background: darkgreen;
  color: white;
}

.btn-red{
  background: darkred;
  color: white;
}

.closePos{
  outline: none;
  border-width: 0px;
  background:transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

